<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="..\static\css\style.css">
      <title>Multi-page Responsive Websites</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
   </head>
   <body>
      
      <header>
         <div class="container container-nav">
            <div class="site-title">
               <h1>SharedThoughts</h1>
               <p class="subtitle">The world of blog redefined</p>
            </div>
            <nav>
               <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="books.html">Books</a></li>
                  <li><a href="movies.html">Movies</a></li>
                  <li><a href="quotes.html">Quotes</a></li>
                  <li><a href="timer.html">Timer</a></li>
               </ul>
            </nav>
         </div>
      </header>
      
      <div class="container container-flex">
         
         <main role="main">
            <img src="..\static\images\book1.jpg" class="image-full">
            
            <h2>A Thousand Splendid Suns</h2><br>

            <center><i><b>“One could not count the moons that shimmer on her roofs, or the thousand splendid suns that hide behind her walls.”

 </b></i></center><br>
            
            <p>As usual Khaled Hosseini never fails to live up to our expectations. There was a lot of sadness and struggle involved in the novel to the point that it makes you want to cry. However overall, it has a fascinating storyline. A wide range of emotions were portrayed and many parts were quite heart-wrenching. The author describes the war in Afghanistan and how it affected the lives of the characters. The novel is about two women named Mariam and Laila who had to endure a lot of hardships and it narrates the way these women fought the unfortunate circumstances to live a better life in this unfair world.  The book has dual narrative and so we get to experience the story through two different perspectives.</p>
            
            
            <p>The first narrative is of Mariam who is ridiculed for being born out of wedlock. She is constantly verbally abused by her mother and given false expectations by her father who only secretly meets her because being seen with her in public would hurt his reputation as he was a well-known business man in Herat. She is married off at a young age after the death of her mother. Rasheed, her husband treated her with care at the beginning but as time passed by, she realized it was all a facade. Eventually, she had to face a lot of difficulties as he became abusive overtime.</p>
            
           
            <p>The second narrative is of Laila who is a lively young girl and secretly crushes on her best friend Tariq. She is torn apart from her family and her love during the war in Afghanistan and is left orphaned. She is eventually married off to the same person as Mariam. In the beginning the relationship between the two was quite bitter but overtime it blossomed into a wholesome one. The story beautifully portrays how we make sacrifices for our loved ones and the extent to which we can go to protect them. This book is unquestionably a page turner.</p><br>

            <img src="..\static\images\book-1.jpg" class="image-full">

            <p>What I loved the most about this book was the character Babi, Laila’s father who was a teacher and well versed in most of Rumi’s and Hafez’s ghazals. One of his lines which portrayed that his mindset was way ahead of his time is:</p>

            <center><i><b>“Because a society has no chance of success if its women are uneducated, Laila. No chance.”</b></i></center><br>

            <p>The story takes place somewhere between the early 1960s and the early 2000s during which majority of the people did not care to even think about educating their daughters whereas Babi was all about making sure his daughter is well-educated. He also treated his wife with utmost respect was which was not a common sight in Afghanistan at the time. </p>
            
         </main>
         
         <aside class="sidebar">
            
            <div class="sidebar-widget">
               <h2 class="widget-title">RECENT POSTS</h2><br>
               
               <div class="widget-recent-post">
                  <a href="book1.html"><img src="..\static\images\book1.jpg" alt="" class="widget-image"></a>
                  <h3 class="widget-recent-post-title"><a class="click" href="book1.html">A Thousand Splendid Suns</a></h3>
               </div>
               
               <div class="widget-recent-post">
                  <a href="movie1.html"><img src="..\static\images\movie1.jpg" alt="" class="widget-image"></a>
                  <h3 class="widget-recent-post-title"><a class="click" href="movie1.html">The Shawshank Redemption</a></h3>
               </div>
               
               
            </div>
            
         </aside>
      </div>
      
     
   </body>
   <footer>
   <div class="content">
     <div class="left box">
       <div class="upper">
         <div class="topic">About us</div>
         <p>SharedThoughts is a place where you can find quality book and movie reviews. We aim to please our readers by providing them an experience different from the usual blogs.</p>
       </div>
       
     </div>
     <div class="middle box">
       
       <div><a href="index.html">Home</a></div>
       <div><a href="books.html">Books</a></div>
       <div><a href="movies.html">Movies</a></div>
       <div><a href="quotes.html">Quotes</a></div>
       <div><a href="timer.html">Timer</a></div>
       
     </div>
     <div class="right box">
       <div class="topic">Contact us</div>
         <i class="fas fa-phone-volume"></i>+91 xxxxx-xxxxx<br><br>
         <i class="fas fa-envelope"></i>sharedthoughts123@gmail.com
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </form>
     </div>
   </div>
   </footer>
</html>
