<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="..\static\css\style.css">
      <title>Multi-page Responsive Websites</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
   </head>
   <body>
      
      <header>
         <div class="container container-nav">
            <div class="site-title">
               <h1>SharedThoughts</h1>
               <p class="subtitle">The world of blog redefined</p>
            </div>
            <nav>
               <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="books.html">Books</a></li>
                  <li><a href="movies.html">Movies</a></li>
                  <li><a href="quotes.html">Quotes</a></li>
                  <li><a href="timer.html">Timer</a></li>
               </ul>
            </nav>
         </div>
      </header>
      
      <div class="container container-flex">
         
         <main role="main">
            <img src="..\static\images\book-2.jpg" class="image-full">
            
            <h2>The Kite Runner </h2><br>

            <center><i><b>"There is only one sin and that is theft... when you tell a lie, you steal someones right to the truth."</b></i></center><br>
            
            <p>The book has a very gripping storyline. I started reading this book mainly because I read reviews on how good it was, and I can tell you that it lived up to its standards and certainly didn’t disappoint me. It takes place in between the 1960s and early 2000s set in Afghanistan and the United States. It speaks about the harsh realities of life. Amir is the son of a wealthy man and Hassan is the son of their servant. The two of them were the best of friends until an act of cowardice and jealousy tore them apart. Years later Amir is given a chance at redemption. The truths unraveled during his journey back to Afghanistan are devastating.</p><br>
            <img src="..\static\images\book22.jpg" class="image-full">
            <p>The book portrays how the choices we make affect us and the feeling of overpowering guilt that is left behind when we make the wrong choice. Amir was lucky enough to be given a chance to correct his past whereas most of us aren’t that lucky. The language used is simple and is well written. The author does not fail to make us feel every emotion he wanted to convey through his words.  “For you a thousand times over.” Every time I read that phrase it gave me goosebumps. It was a kite that tore them apart and a kite which put a smile on the little boy’s face in the end. Truly an amazing story.</p>
            
            
            
         
         </main>
         
         <aside class="sidebar">
            
            <div class="sidebar-widget">
               <h2 class="widget-title">RECENT POSTS</h2><br>
               
               <div class="widget-recent-post">
                  <a href="book1.html"><img src="..\static\images\book1.jpg" alt="" class="widget-image"></a>
                  <h3 class="widget-recent-post-title"><a class="click" href="book1.html">A Thousand Splendid Suns</a></h3>
               </div>
               
               <div class="widget-recent-post">
                  <a href="movie1.html"><img src="..\static\images\movie1.jpg" alt="" class="widget-image"></a>
                  <h3 class="widget-recent-post-title"><a class="click" href="movie1.html">The Shawshank Redemption</a></h3>
               </div>
               
               
            </div>
            
         </aside>
      </div>
      
     
   </body>
   <footer>
   <div class="content">
     <div class="left box">
       <div class="upper">
         <div class="topic">About us</div>
         <p>SharedThoughts is a place where you can find quality book and movie reviews. We aim to please our readers by providing them an experience different from the usual blogs.</p>
       </div>
       
     </div>
     <div class="middle box">
       
       <div><a href="index.html">Home</a></div>
       <div><a href="books.html">Books</a></div>
       <div><a href="movies.html">Movies</a></div>
       <div><a href="quotes.html">Quotes</a></div>
       <div><a href="timer.html">Timer</a></div>
       
     </div>
     <div class="right box">
       <div class="topic">Contact us</div>
         <i class="fas fa-phone-volume"></i>+91 xxxxx-xxxxx<br><br>
         <i class="fas fa-envelope"></i>sharedthoughts123@gmail.com
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </form>
     </div>
   </div>
   </footer>
</html>
