<html>
    <head><link rel="stylesheet" type="text/css" href="..\static\css\style.css"></head>
<body style="background-image: url('../static/images/blue.jpg');">
	<header>
         <div class="container container-nav">
            <div class="site-title">
               <h1>SharedThoughts</h1>
               <p class="subtitle">The world of blog redefined</p>
            </div>
            <nav>
               <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="books.html">Books</a></li>
                  <li><a href="movies.html">Movies</a></li>
                  <li><a href="" class="current-page">Quotes</a></li>
                  <li><a href="timer.html">Timer</a></li>
               </ul>
            </nav>
         </div>
      </header>
     
      <blockquote>
    <i id = "quotes">"Carpe diem. Seize the day, boys. Make your lives extraordinary."<br> -Dead Poets Society, 1989</i>
    </blockquote>
    <center><a class="old" onclick="newQuote()">NEXT MOVIE QUOTE</a></center><br>
    <blockquote>
    <i id = "quote">"If you have the guts to be yourself, other people’ll pay your price."<br> -Rabbit, Run</i>
    </blockquote>
    <center><a class="old" onclick="newQuote2()">NEXT BOOK QUOTE</a></center><br>
   
</body>
<footer><script src="..\static\js\quote.js">
</script></footer>
</html>