<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="..\static\css\style.css">
      <title>Multi-page Responsive Website</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
   </head>
   <body>
      
      <header>
         <div class="container container-nav">
            <div class="site-title">
               <h1>SharedThoughts</h1>
               <p class="subtitle">The world of blog redefined</p>
            </div>
            <nav>
               <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="books.html">Books</a></li>
                  <li><a href="movies.html">Movies</a></li>
                  <li><a href="quotes.html">Quotes</a></li>
                  <li><a href="timer.html">Timer</a></li>
               </ul>
            </nav>
         </div>
      </header>
      
      <div class="container container-flex">
         
         <main role="main">
            <img src="../static/images/reading.jpg" class="image-full">
            
            <h2>How to make reading a habit?</h2><br>

            <center><i><b>“A reader lives a thousand lives before he dies. The man who never reads lives only one.”<br>
               – George R.R. Martin</b></i></center><br>
            <h3>Why is it important to inculcate a reading habit?</h3><br>
            <p>As we all know reading regularly has a lot of benefits, some of them are:<br><br>

            -It helps build our vocabulary: Any kind of reading helps improve your vocabulary. Constant exposure to new words, looking up its meaning and seeing in what context they are used helps you learn the words faster.<br><br>

            -Enhance writing skills: Reading a wide range of books helps you get familiar with different writing styles. It is also one of the best ways to master punctuation, especially the innocuous-looking, but complicated, comma.<br><br>

            -Improves concentration and focus: When you're reading a book, you're completely focused on getting a better understanding of the storyline. You get completely immersed in the book.<br><br>

            -Comparatively cheaper source of entertainment: You don’t really have to buy a new book every time you want to read. You can issue books from a nearby library or borrow it from a friend. A lot of books are also available on the internet for free. This makes reading comparatively cheaper to other sources of entertainment. There’s an added advantage of not having to wait for a commercial to get over to move on to the next chapter.<br><br>

            -Mental stimulation: Activities that stimulate the brain, such as reading is known to help slow down cognitive decline in people.</p><br>

            <h3>How should you start reading?</h3><br>

            <p>There are plenty of people who want to get into reading but all of them face a common problem- “How do I start reading?”</p><br>
            <h3>Do’s</h3><br>
            <p>
               -You can start by creating a distraction free environment so that you can continue reading without getting disturbed or distracted. It also helps you focus better.<br><br>

               -Try to read a minimum of 10-20 pages every day. It’s a small but not so intimidating task and so it doesn’t pressurize you a lot.<br><br>

               -You can also take part in reading challenges. Reading challenges can accelerate your reading motivation by a large extent and challenging yourself is considered to be a great way to develop a new habit.<br><br>

               -You could join a book club or get a reading partner. A reading partner helps you be more accountable to your reading goals and you can discuss the book with them while you're reading it or once you're done reading the book. Whe you join a book club you get to meet like-minded people and you can discuss your opinions on your favourite books with them. <br><br>

               -Invest in tools that encourage reading. For most of them today mobile apps, tablets, eBooks,etc have proven to be extremely helpful. This is because everyone is slowly shifting to a digital platform and they prefer using it to stay on top of most of their goals. <br><br>

 

               <h3>Don’ts</h3><br>

               -Don’t make towering reading goals. If you aren’t a voracious reader you usually end up exhausting yourself and it might result in you not liking the particular activity anymore. That’s why you should set an easily attainable reading goal which makes the activity more enjoyable and less stressful.<br><br>

               -Don’t read books just because everyone else is reading them.<br><br>

               -Don’t try to finish reading a book that you clearly aren’t enjoying. Instead of trying to power through it you could just put it down and find a book that suits your taste.</p>

               <img src="../static/images/genre_cloud.png" class="image-full">
                          
                           <h3>How to know which book to read?</h3><br>

               <p>-Curated lists can be helpful.<br><br>

               -Go through online reviews of the book you want to start reading.<br><br>

               -Reading the contents on the back cover of the book helps too.<br><br>

               -You can take suggestions from the people around you if you aren’t able to decide on which book to read.<br><br>

               -If you enjoy a book from a particular author, you can look up whatever else they have written.<br><br>

               -Try reading different genres to find out which one suits you the best.<br><br>

               Happy reading!</p>
            </main>
         
         <aside class="sidebar">
            
            <div class="sidebar-widget">
               <h2 class="widget-title">RECENT POSTS</h2><br>
               
               <div class="widget-recent-post">
                  <a href="book1.html"><img src="../static/images/book1.jpg" alt="" class="widget-image"></a>
                  <h3 class="widget-recent-post-title"><a class="click" href="book1.html">A Thousand Splendid Suns</a></h3>
               </div>
               
               <div class="widget-recent-post">
                  <a href="movie1.html"><img src="../static/images/movie1.jpg" alt="" class="widget-image"></a>
                  <h3 class="widget-recent-post-title"><a class="click" href="movie1.html">The Shawshank Redemption</a></h3>
               </div>
               
               
            </div>
            
         </aside>
      </div>
      
     
   </body>
   <footer>
   <div class="content">
     <div class="left box">
       <div class="upper">
         <div class="topic">About us</div>
         <p>SharedThoughts is a place where you can find quality book and movie reviews. We aim to please our readers by providing them an experience different from the usual blogs.</p>
       </div>
       
     </div>
     <div class="middle box">
       
       <div><a href="index.html">Home</a></div>
       <div><a href="books.html">Books</a></div>
       <div><a href="movies.html">Movies</a></div>
       <div><a href="quotes.html">Quotes</a></div>
       <div><a href="timer.html">Timer</a></div>
       
     </div>
     <div class="right box">
       <div class="topic">Contact us</div>
         <i class="fas fa-phone-volume"></i>+91 xxxxx-xxxxx<br><br>
         <i class="fas fa-envelope"></i>sharedthoughts123@gmail.com
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </form>
     </div>
   </div>
   </footer>
</html>
